#cate{
    text-align: center;
    background-color: white;
    height: 190px;
    width: 70%;
    margin-left:15%;
}
.cate_box{
    position: relative;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 20px;
    color: black;
    font-family: "MyriadProLight", "Microsoft yahei light";
    height: 150px;
    width: 150px;
    display: block;
    float: left;
    transition: 0.3s;
}
.cate_box:hover{
    background-color: #dedede;
    color: black;

}
.cate_box i{
    display: block;
    padding-top: 30px;
    font-size: 50px;
    color:#2d2d2d;
}
.cate_box_title{
    display: block;
    padding-top: 20px;
    font-size: 20px;
    color:#2d2d2d;
}