#ondev{
    border-top: 1px solid rgb(10,10,10);
    position: relative;
    float: left;
    height: 300px;
    width: 100%;
    background-image: url("../img/code_bk2.jpg");
    color: white;
    text-align: center;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#ondev_title{
    font-family: "SSSans","PingFangSC","Microsoft yahei",sans-serif;
    position: relative;
    margin-top: 100px;
    font-size: 40px;
}
#ondev_content{
    position: absolute;
    background-color: black;
    width: 100%;
    opacity: 0.8;
    top:250px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
#ondev_content a{
    color: #1e88e5;
}
#ondev_content a:hover{
    text-decoration:underline;
}