.outfade{
    width: 100%;
    height: 100%;
    position: fixed;
    top:40px;
    left: 0;
    font-size: 60px;
    background-color:black;
    text-align: center;
    padding-top: 200px;
    color:white;
    z-index: 500;
    font-family: "SSSans","PingFangSC","Microsoft yahei",sans-serif;
}SFProIcons_light.woff