#collection{
    position: relative;
    border-top: 1px solid rgb(100,100,100);
    text-align: center;
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    transition: 0.5s;
}
#coll_box{
    position: relative;
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    background-color: black;
    transition: 0.3s;
}
.coll{
    cursor: pointer;
    position: relative;
    float: left;
    width: 33%;
    border-radius: 3px;
    height: 100px;
    font-size: 17px;
    margin: 1px;
    background-color:#121212;
    transition: 0.3s;

}
.coll:hover{
    background-color:rgb(40,40,40);
    /*border-bottom: 2px solid #ff365d;*/
}
.coll_box_title{
    z-index: 2;
    text-align: center;
    height: 100%;
    width: 80%;
    position: absolute;
    font-size: 17px;
    left: 10%;
    top:10%;
    color: #cccccc;
}
/*.coll_box_title:hover{*/
   /*color: #ff365d;*/
/*}*/
.coll_box_time{
    display: none;
    position: absolute;
    left: 5%;
    font-size: 15px;
    top:80%;
    color: rgb(100,100,100);
}
.coll_box_cate{
    font-size: 15px;
    color: #ff365d;;
    border: 1px solid #ff365d;
    border-radius: 4px;
    padding: 3px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.coll_detail{
    -webkit-backdrop-filter: blur(10px);
    display: none;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.95;
    z-index: 4;
    height: 100%;
    background-color:rgba(40,40,40,0.9) ;
    width: 100%;
}
.coll_detail_title{
    font-family: "SSSans","PingFangSC","Microsoft yahei",sans-serif;
    text-align: left;
    float: left;
    position: absolute;
    top:60px;
    width: 80%;
    font-size: 40px;
    left: 10%;
}
.coll_detail_cate{
    position: absolute;
    float: left;
    top:70px;
    right: 91%;
    font-size: 15px;
    background-color: #ff365d;
    color: white;
    padding: 8px;
    border-radius: 3px;
}
.coll_detail_time{
    display: none;
    position: absolute;
   left: 10%;
    top:120px;
    height: 30px;
    font-size: 15px;
}

.coll_hide{
    width: 45px;
    height: 45px;
    line-height: 40px;
    position: absolute;
    top:70px;
    transition: 0.2s;
    font-size: 27px;
    padding: 0;
    right: 5%;
    border-radius: 100%;
    color: white;
    background-color: rgb(100,100,100);
    opacity: 0.9;
}
.coll_hide:hover{
    background-color: rgb(150,150,150);
}
.coll_detail_content{
    cursor: auto;
    -moz-user-select:text;
    user-select: text;
    -webkit-user-select:text;
    position: absolute;
    top:170px;
    left: 10%;
    width: 80%;
    text-align: left;
    font-size: 17px;
    line-height: 25px;
    color: rgb(230,230,230);
}
.coll_detail_content::selection {
    background:black;
    color:#1589c9;
}

.coll_detail_content::-moz-selection {
    background:black;
    color:#1589c9;
}

